body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #ffffff;
}

.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-studio{
    color: #2e2f42;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.page-nav {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0,32px;
}
.page-nav:hover {color: #4D5AE5;}
.page-nav:active {color: #404BBF;}

.address {
font-style: normal;
line-height: 1.5;
letter-specing: 0.02em
color: #434455;}
.address:hover{color: #404bbf;}
.address:focus{color: #404bbf;}

.section-effective {
background-color: #2e2f42;}

.h-effective {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;}

.button {
backgroun-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;}

.button:hover {background-color: #404BBF;}
.button:focus {background-color: #404BBF;}

.h-strategy {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.p-strategy {
line-height: 1.5;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;}

.h-punctuality {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.p-punctuality {
line-height: 1.5;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;}

.h-diligence {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.p-diligence {
line-height: 1.5;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;}

.h-technologies {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.p-technologies {
line-height: 1.5;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;}

/* Стиль для футера */
.footer {
    background-color: #2e2f42;
    padding: 20px;
}

/* Стиль для логотипу в футері */
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

/* Стиль для тексту в логотипі */
.logo-footer span {
    color: #f4f4fd;
}

/* Стиль для параграфа в футері */
.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}